$btn1: rgb(0, 0, 0);
$btn2: rgb(216, 21, 21);
$btn3: rgb(89, 104, 241);

$btnFoot: gray;

$standar_margin: 1em;
$standar_padding: 1em;

$standar_width: 100%;
$standar_heigth: auto;

$standar_positition: center;
$Fflex: flex;